@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* 


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */



/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* @import tailwindcss; */

:root {
  /* --font-geist-sans: 'Outfit', sans-serif; */
  /* --background: #ffffff; */
  /* --foreground: #171717; */
}

.bg-pattern {
  background: url('../../assets/bg-pattern.png') repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 550px;
}

main {
  position: relative;
  z-index: 10;
  background-color: var(--background, #ffffff);
  color: var(--foreground, #171717);
  min-height: 100vh;
  background-color: transparent;
}

@theme default{
  --default-font-family: 'Outfit', sans-serif;
  --breakpoint-desktop: 96rem;
  --breakpoint-tablet: 64rem;
  --breakpoint-mobile: 48rem;
}

@utility container{
  max-width: var(--breakpoint-desktop);

  @variant 2xl{
    max-width: var(--breakpoint-2xl);
  }

  @variant md{
    max-width: var(--breakpoint-tablet);
  }
}





.primary-btn{
  height: 45px;
  @apply bg-yellow text-primary px-5 text-[20px] font-semibold;
}

h2 {
  @apply text-2xl font-semibold;
  @apply text-primary;
}

h3 {
  @apply text-xl font-semibold;
  @apply text-primary;
}

p {
  @apply text-base font-light;
  @apply text-primary;
} */
