@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@import "./utility.css";
@import "./theme.css";

:root {
  --color-primary: #023047;
  --color-secondary: #FFB703;
  --color-tertiary: #8ecae6;
  --color-quaternary: #fb8500;
}

@layer base{
  body{
    @apply text-hms-primary;
  }
  main{
    @apply relative z-10 flex flex-row justify-center;
  }
  div {
    @apply mb-3;
  }
}

@layer components{
  .bg-pattern{
    @apply bg-[url('../../assets/bg-pattern.png')] bg-repeat absolute w-full top-0 left-0 h-[550px];
  }
}






/* @layer components {
  @apply bg-pattern(''../../assets/bg-pattern.png');
} */

/* .bg-pattern {
  background: url('../../assets/bg-pattern.png') repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 550px;
} */

/* main {
  position: relative;
  z-index: 10;
  background-color: var(--background, #ffffff);
  color: var(--foreground, #171717);
  min-height: 100vh;
  background-color: transparent;
} */


