@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  /* --font-geist-sans: 'Outfit', sans-serif; */
  /* --background: #ffffff; */
  /* --foreground: #171717; */
}

.bg-pattern {
  background: url('../../assets/bg-pattern.png') repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 550px;
}

main {
  position: relative;
  z-index: 10;
  background-color: var(--background, #ffffff);
  color: var(--foreground, #171717);
  min-height: 100vh;
  background-color: transparent;
}

@theme default{
  --default-font-family: 'Outfit', sans-serif;
  --breakpoint-desktop: 96rem;
  --breakpoint-tablet: 64rem;
  --breakpoint-mobile: 48rem;
}